name: Build and Publish Wheels

on:
  push:
    branches:
      - main

jobs:
  build-linux-windows:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [linux, windows]
    env:
      CIBW_PLATFORM: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ">=3.9"
      - run: |
          pip install --upgrade pip
          pip install build twine cibuildwheel
      - run: python -m cibuildwheel --output-dir dist

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ">=3.9"
      - run: |
          pip install --upgrade pip
          pip install build twine cibuildwheel
      - run: python -m cibuildwheel --platform macos --output-dir dist

  publish:
    runs-on: ubuntu-latest
    needs: [build-linux-windows, build-macos]
    steps:
      - uses: actions/checkout@v3
      - run: pip install twine
      - run: twine upload dist/*
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
